  <div class="card">
    <div class="card-header d-flex justify-content-center">
     <span>{{product.name}}</span>
    </div>
    <div class="card-body">
        <span>{{product.pictureUrl}}</span>
    </div>
    <div class="card-footer">
        <div class="btn-group d-flex justify-content-between">
            <button type="button" class="btn btn-primary"><i class="fa fa-shopping-cart"></i></button>
            <span>{{product.price |currency}}</span>
            <button type="button" class="btn btn-primary"><i class="fa fa-eye"></i></button>
          </div>
    </div>
  </div>


